@{
    ViewData["Title"] = "Company Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <h1 class="display-3 mb-4 animated slideInDown">Company Registration</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item active" aria-current="page">Create your  company's free account today to start enjoying our unlimited features </li>
            </ol>
        </nav>
    </div> 
</div>
<!-- Page Header End -->
<!-- Contact Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="card shadow col-lg-8 mx-auto wow fadeIn" data-wow-delay="0.1s">
                
                <div class="mt-5 mb-5 mx-auto">
                    <a href="#"><img src="~/asset/img/logo.png" class="img-fluid" width="50px" height="50px"></a>
                </div>
                <form>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name" class="mb-2">Your Company Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control p-2" id="organizationName" required>
                                
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email" class="mb-2">Your Company Email <span class="text-danger">*</span></label>
                                <input type="email" class="form-control p-2" id="companyEmail" required>
                                
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="phone" class="mb-2">Your Company Phonenumber <span class="text-danger">*</span></label>
                                <input type="number" class="form-control p-2" id="companyPhone" required>
                                
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="address" class="mb-2">Your Company Address <span class="text-danger">*</span></label>
                                <input type="text" class="form-control p-2" id="companyAddress" required>
                                
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="companylogo" class="mb-2"> Company Logo<span class="text-danger">(optional)</span></label>
                                <input type="file" class="form-control p-2 bg-transparent" id="companyLogo" required>
                            </div>
                        </div>
                        <div> 
                            <h6 class="text-center mt-3"> Company Admin Details</h6>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name" class="mb-2">First Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control p-2" id="fname" required>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="name" class="mb-2">Last Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control p-2" id="lname" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name" class="mb-2"> Address <span class="text-danger">(optional)</span></label>
                                <input type="text" class="form-control p-2" id="adminAddress" required>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="name" class="mb-2"> Staff Position <span class="text-danger">*</span></label>
                                <input type="text" class="form-control p-2" id="staffPosition" required>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <label for="name" class="mb-2">Password <span class="text-danger">*</span></label>
                                <input type="password" class="form-control p-2" id="password" required>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="name" class="mb-2">Confirm Password <span class="text-danger">*</span></label>
                                <input type="password" class="form-control p-2" id="confirmPassword" required>
                            </div>
                        </div>
                        
                        <div class="col-12 mb-5 mx-auto">
                            <button class="btn btn-primary py-3 px-4 d-block m-auto" type="button" id="submit_btn" onclick="CreateCompany()">Register Company</button>
                        </div>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>
<!-- Contact End -->